@(playfield: de.htwg.se.Carcassonne.model.playfieldComponent.PlayfieldInterface, manicanList: List[(String, String)])
@main("Carcassonne") {


<div class="my-5 container-sm">
  <div class="row justify-content-center align-items-center">

    <!-- Gameboard -->
    <div class="mb-2 col-md-auto">
      <table cellspacing="0" cellpadding="0">
        @for(col <- 0 until playfield.grid.size) { 
          <tr>
            @for(row <- 0 until playfield.grid.size) { 
              <td>
                <form id='row@{row}col@{col}' row="@row" col="@col" class="tile" style="height: 80px; width: 80px;">
                  @_tile(playfield, manicanList, row, col)
                </form>
              </td>
            }
          </tr>
          }
      </table>
    </div>


    <!-- Spielerinfos -->
    <div class=col-md-auto>

      <div class="card shadow-lg" style="width: 18rem;">
        <div class="card-header">
          <h3 class="fst-italic fw-bold">Spielerinfos</h3>
        </div>
        <ul id="stats" class="list-group list-group-flush">
          @_stats(playfield)
        </ul>
        <div class="card-body">

          <div class="row align-items-center">
            <div class="col">
              <form id="leftButtonForm">
                <button class="btn btn-lg btn-secondary rounded-circle"><i class='fas fa-undo'></i></button>
              </form>
            </div>

            <div id="freshCard" style="height: 85px;" class="col">
              @_freshCard(playfield, manicanList)
            </div>

            <div class="col">
              <form id="rightButtonForm">
                <button class="btn btn-lg btn-secondary rounded-circle" type="submit"><i
                    class='fas fa-redo'></i></button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
<script src='@routes.Assets.versioned("javascripts/boardgame.js")' type="text/javascript"></script>
}