@(playfield: de.htwg.se.Carcassonne.model.playfieldComponent.PlayfieldInterface, manicanList: List[(String, String)])
@main("Carcassonne") {



    <div class="my-5 container-sm">
      <div class="row justify-content-center align-items-center">
        
        <!-- Gameboard -->
        <div class="mb-2 col-md-auto">
          <table cellspacing="0" cellpadding="0">
            @for(col <- 0 until playfield.grid.size) {
            <tr>
              @for(row <- 0 until playfield.grid.size) {
                <td>
                  <form action="/placeCard" style="height: 80px; width: 80px;">
                    <input type="hidden" name="row" id="row" value="@row">
                    <input type="hidden" name="col" id="col" value="@col">
                    @if(playfield.grid.card(row, col).id._1 == -1) {
                      <input type="image" style="border-radius: 5px;" src="@routes.Assets.versioned("images/media/Empty.png")">
                    } else {
                      <div class="cardPlaceholder">
                        <img class="cardImage" src="@{routes.Assets.versioned("images/media/" + List("D", "E", "G", "H", "I", "J", "K", "L", "N", "O", "R", "T", "U", "V", "C", "W")(playfield.grid.card(row, col).id._1))}.png" style="transform:rotate(@{List(0,90,180,270)(playfield.grid.card(row, col).id._2)}deg); pointer-events: none">   
                        @for(area <- playfield.grid.card(row, col).areas) {
                          @if(area.player != -1) {
                            <img style="pointer-events: none" class=@{List("north", "south", "west", "east").find(p => p.startsWith(area.corners.head.toString)).get} src="@{routes.Assets.versioned("images/media/manican" + area.player + ".png")}" />
                          }
                        }
                      </div>
                    }
                  </form>
                </td>
              }
            </tr>
            }
          </table>
        </div>
        
        
        <!-- Spielerinfos -->
        <div class=col-md-auto>
          
          <div class="card" style="width: 18rem;">
            <div class="card-header">
              <h3 class="fst-italic fw-bold">Spielerinfos</h3>
            </div>
            <ul class="list-group list-group-flush">
              @for(player <- playfield.players) {
                <li class="list-group-item">@player</li>
              }
            </ul>
            <div class="card-body">
              
              <div class="row align-items-center">
                <div class="col">
                  <form action="/rotate">
                    <button class="btn btn-lg btn-secondary rounded-circle" type="submit" name="dir" value="Left"><i class='fas fa-undo'></i></button>
                  </form>
                </div>

                <div class="col">
                  <!-- Kartenauswahl -->
                  <div>
                      <div class="cardPlaceholder">
                        <img class="cardImage" src="@{routes.Assets.versioned("images/media/" + List("D", "E", "G", "H", "I", "J", "K", "L", "N", "O", "R", "T", "U", "V", "C", "W")(playfield.freshCard.card.id._1))}.png" style="transform:rotate(@{List(0,90,180,270)(playfield.freshCard.card.id._2)}deg); pointer-events: none" />
                        @for((dir, path) <- manicanList) {
                          <form action="/selectArea">
                            <input type="hidden" name="dir" id="dir" value="@dir">
                            <input type="image" class=@dir src="@{routes.Assets.versioned("images/media/" + path + ".png")}" />
                          </form>
                          }
                        </div>
                  </div>
                  <!-- Kartenauswahl Ende -->
                </div>

                <div class="col">
                  <form action="/rotate">
                    <button class="btn btn-lg btn-secondary rounded-circle" type="submit" name="dir" value="Right"><i class='fas fa-redo'></i></button>
                  </form>
                </div>

              </div>


              
            </div>

          </div>
        </div>



      </div>
    </div>

}
