@()

@main("Welcome to Play") {

  <div class="card-group center-stage">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body d-flex flex-column">
        <h2 class="card-title fw-bold">Neues Spiel</h5>
        <p class="card-text">Starte ein neues Spiel mit bis zu vier Spielern.</p>
        <a type="button" class="mt-auto btn btn-outline-success btn-lg fw-bold" href="/newGame">Jetzt Spielen</a>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body d-flex flex-column">
        <h2 class="card-title fw-bold">Regeln</h5>
        <p class="card-text">Lerne die Grundregeln kennen.</p>
        <a type="button" class="mt-auto btn btn-outline-info btn-lg fw-bold" href="/rules">Zu den Regeln</a>
      </div>
    </div>
  </div>

  }
  