@()

@main("Setup") {

  <div class="card-group center-stage">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body d-flex flex-column">
        
        <form class="row" action="/createGrid">
          
          <label for="feldgroesse" class="form-label fw-bold">Bitte Feldgröße auswählen</label>
          <div class="col-12 d-flex justify-content-center">
            <select class="form-select" aria-label="game size" id="feldgroesse" name="size">
              <option value="3">Klein</option>
              <option selected value="6">Mittel</option>
              <option value="9">Groß</option>
            </select>
          </div>
      
          <div class="col-12 d-flex justify-content-center">
            <button class="mt-3 btn btn-success" type="submit" value="Submit">Weiter</button>
          </div>
      
        </form>

      </div>
    </div>
  </div>


   
      
 
}
