@()

@main("Regeln") {
<center>
    <h1>Regeln</h1>
    <p>In Carcassonne spielen wir im Uhrzeigersinn und der jüngste Spieler beginnt. Dabei führt der Spieler, der gerade an der
        Reihe ist, immer die nachfolgenden Aktionen in der angegebenen Reihenfolge aus. Dann ist der nächste Spieler an der

        Reihe usw. Als Erstes listen wir die Aktionen auf und erklären sie dann der Reihe nach. Dies machen wir anhand der
        auf den Plättchen abgebildeten Straßen, Städte und Klöster.</p>
    <form action="/">
        <br><br>
        <input type="submit" value="Back">
    </form>
</center>
}
